body{
    
}

.header,.footer{
    background-color: #1f2937;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subhero, ul{
    color: #e5e7eb;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.action,button{
    background-color: #3882f6;
}

.quote{
    background-color: #e5e7eb;
}

.quotetext{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

