body{
    margin: 0px;
    padding: 0px;
    
}

.header,.footer{
    background-color: #1f2937;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subhero, ul{
    color: #e5e7eb;
    font-size: 18px;
}
li{
    list-style: none;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}

.infoheader{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 10px;
}

.action,button{
    background-color: #3882f6;
}

.quote{
    background-color: #e5e7eb;
}

.quotetext,.quoteauth{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoteauth{
    font-weight: 900;
}
.header{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul{
    display: flex;
    gap:10px;
}


.main{
    display: flex;
    gap:50px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items:left;
    padding: 50px 10px;
    gap:10px;

}

.information{
    display: flex;
    flex-direction: column;
}

.infoimgtext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
   
}

.infoimgtext>*>img{
    max-width: 100px;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    
}

.quoteauth{
   text-align: right;
}
