body{
    margin: 0px;
    padding: 0px;
    
}

.header,.footer{
    background-color: #1f2937;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subhero, ul{
    color: #e5e7eb;
    font-size: 18px;
}
li{
    list-style: none;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}

.infoheader{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 10px;
}

.action,button{
    background-color: #3882f6;
}

.quote{
    background-color: #e5e7eb;
}

.quotetext,.quoteauth{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoteauth{
    font-weight: 900;
}
.header{
    display: flex;
    flex-direction: column;
    padding: 10px 100px 50px 100px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul{
    display: flex;
    gap:10px;
}


.main{
    display: flex;
    gap:20px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items:left;
    padding: 50px 10px;
    gap:30px;

}

.information{
    
    display: flex;
    flex-direction: column;
    
    margin: 10px 250px;
   
}

.infoimgtext{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    flex:1;
   
}

.infoimgtext>*>img{
    max-width:150px;
    
}
.infoimgtext>*>.infotext{
    max-width: 150px;
    text-align: center;

}

.quote{
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    
}

.quoteauth{
   text-align: right;
}

.action{
    margin: 50px 100px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  

}

.actionmain{
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8;
   
}

.actionsub{
    font-size: 24px;
    color: #e5e7eb;
}

.footer{
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 5px;
   
}

button{
    color: #f9faf8;
    padding: 5px 10px;
    border: 2px solid wheat;
    
    border-radius: 10px;

}